global
log stdout format raw daemon
maxconn 4096
user haproxy
daemon

defaults
log     global
mode    tcp
option  tcplog
option  dontlognull
option  logasap
retries 1
timeout connect 500ms
timeout client  5000ms
timeout server  1000ms
timeout check   500ms
maxconn 3000

frontend pgsql_frontend
bind *:5432
default_backend pgsql_backend

backend pgsql_backend
balance roundrobin
option tcp-check
server db_slave_1 db_slave_1:5432 check inter 500ms fall 1 rise 1 on-marked-down shutdown-sessions
server db_slave_2 db_slave_2:5432 check inter 500ms fall 1 rise 1 on-marked-down shutdown-sessions
